<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aebf26df-2f06-4dd9-8532-9be9608ea49e/resourcegroups/FreedomApi20190311090915ResourceGroup/providers/Microsoft.Web/sites/FreedomApi20190311090915</ResourceId>
    <ResourceGroup>FreedomApi20190311090915ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://freedomapi20190311090915.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>97b370cc-d95b-4e99-beb1-830b1819afea</ProjectGuid>
    <MSDeployServiceURL>freedomapi20190311090915.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FreedomApi20190311090915</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FreedomApi20190311090915</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="MySqlConnector" Version="0.30.0" />
  </ItemGroup>
</Project>